.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display {
  display: inline-flex;
  flex-direction: column;
}

.display h2 {
  display: inline;
}

.display + .display {
  margin-left: 3em;
}

input {
  text-align: center;
  margin-bottom: 0.5em;
  padding: 1em;
  font-size: 1rem;
  border-radius: 1em;
  border: 1px solid #161616;
}

.btn-clear {
  font-size: 0.9rem;
  padding: 0.5em;
  color: white;
  background-color: #161616;
  border: none;
  border-radius: 1em;
}

.container-results {
  width: fit-content;
  margin: 0 auto;
  margin-top: 5em;
}

.results {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: 1em;
  margin-bottom: 0.5em;
  color: white;
  background-color: #f32c52;
  border-radius: 1em;
}
